@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Martel:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body{
    margin:0px;
    padding:0px;
    background-color: #FFAC63;
}
.wrapper{
    display: grid;
    grid-template-rows: 100px auto 1fr 100px;
    background-color: #FFAC63;
}
header{
    background-image: url('../img/banner.jpg');
    position: relative;
}
header>h1{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:10px;
    padding:10px;
    color: #fbfbfb;
    text-shadow: 4px 4px 2px #000;
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    letter-spacing: 3px;
}
nav{
    background-color: #E87449;
    border:0px solid #de6133;
    border-bottom-width: 1px;
}
nav>ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow: hidden;
}
nav>ul>li{
    float: none;
}
nav>ul>li.hamburger{
    visibility: visible;
}
nav>ul>li a{
    display: block;
    background-color: #E87449;
    padding:10px;
    text-decoration: none;
    font-size:20px;
    color:#404040;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
nav>ul>li a:hover{
    background-color: #e46434;
}
main.start{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 0px;
}
article{
    background-color: #E8C88F;
    height: 100%;
}
article.visaSida{
    background-color: #ffe4b3;
}
a.info{
    text-decoration: none;
    border:none;
}
a.info:hover{
    border:1px solid #ff5726;
}
article>h1{
    color: #ffffff;
    margin:0px 0px 0px 0px;
    padding:5px;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    background-color: #FF5348;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1px;
    text-indent: 5px;
}
article>img{
    display: block;
    margin: 0 auto;
    width:100%;
    height: auto;
}
.popular{
    border:0px solid #FF5348;
    border-left-width: 3px;
    background-color: #FFD12E;
    padding:10px;
    margin:10px 10px 5px 10px;
    color: #946b20;
    font-size: 20px;
    font-weight: bold;
}
.infoText{
    padding:10px;
    color:#313131;
    font-family: 'Martel', serif;
}
form{
    font-family: 'Quicksand', sans-serif;
    margin:10px;
}
fieldset{
    border:1px solid #ae9d9d;
    padding:20px;
    background-color: #E8C88F;
}
legend{
    font-size: 24px;
    padding:5px 15px 5px 15px;
    border:1px solid #ae9d9d;
    background-color: #ffe4b3;
    font-family: 'Open Sans', sans-serif;
    color:#e87449;
}
table{
    width:100%;
}
label{
    font-size: 20px;
    padding:10px;
}
input{
    font-size: 18px;
    border:none;
    padding:5px;
    color:#555555;
    width:100%;
}
input[type=text]:hover,input[type="email"]:hover,input[type="password"]:hover{
    background-color: aliceblue;
}
input[type="submit"]{
    background-color: #12b126;
    border:none;
    font-size: 20px;
    padding:10px;
    font-family: 'Open Sans', sans-serif;
    color:#4d4d4d;
}
input[type="submit"]:hover {
    background-color: #159b26;
    cursor: pointer;
}
.formHelp{
    //visibility: hidden;
    background: #FFD12E url('../img/exclamation.png') no-repeat;
    background-size: contain;
    text-indent: 30px;
    border:1px solid #a2a2a2;
    padding:2px;
    font-size: 18px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
    .wrapper{
        grid-template-rows: 370px auto 1fr 100px;
    }
    header>h1{
        font-size: 40px;
    }
    nav>ul>li{
        float: left;
        text-align:center;
    }
    nav>ul>li.hamburger{
        visibility: hidden;
    }
    main.start{
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    }
    main.visaSida{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 10px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}